<div class="fixed-background"></div>
<main>
  <div class="container">
    <div class="row h-100">
      <div class="col-12 col-md-10 mx-auto my-auto">
        



<div class="card auth-card">
    <div class="position-relative image-side ">
      <p class=" text-white h2">Track your asset from anywhere</p>
      <p class="white mb-0">
       
      </p>
    </div>
    <div class="form-side">
      <a class="c-pointer">
        <span class="logo-single"></span>
      </a>
      <h6 class="mb-4">Login</h6>
  
      <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <label class="form-group has-float-label">
          <input class="form-control" required ngModel #username="ngModel" name="username" />
          <span>Username</span>
          <div *ngIf="!username.valid && loginForm.submitted" class="invalid-tooltip">Email is required!</div>
        </label>
        <label class="form-group has-float-label">
          <input class="form-control" type="password" placeholder="" required ngModel #password="ngModel" name="password" />
          <span>Password</span>
          <div *ngIf="!password.valid && loginForm.submitted" class="invalid-tooltip">Password is required!</div>
        </label>
  
        <label class="form-group has-float-label">
          <input class="form-control" required ngModel #company="ngModel" name="company" />
          <span>Company</span>
          <div *ngIf="!company.valid && loginForm.submitted" class="invalid-tooltip">Company is required!</div>
        </label>
  
  
        <div class="d-flex justify-content-between align-items-center">
          <a routerLink="/user/forgot-password">
            Forgot Password
        </a>
          <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
            [isDisabled]="buttonDisabled" click="onLoginClick()">
            LOGIN
          </app-state-button>
        </div>
      </form>
  
    </div>
  </div>
  <simple-notifications></simple-notifications>
  


  
</div>
</div>
</div>
</main>