  <footer class="page-footer">
    <div class="footer-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-6">
            <p class="mb-0 text-muted">@ Asset Comply 2020</p>
          </div>
          <div class="col-sm-6 d-none d-sm-block">
         
          </div>
        </div>
      </div>
    </div>
  </footer>
