<div class="card auth-card">
  <div class="position-relative image-side p-md-5">
    <p class="text-white h2">Track your asset</p>
    <p class="white mb-0">
      Please use the form to register.
      <br />If you are a member, please
      <a routerLink="/user/login" class="white white-underline-link">login</a>.
    </p>
  </div>
  <div class="form-side p-md-5">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h6 class="mb-4">Register</h6>

    <form #registerForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <input
      required
      ngModel
      #mode="ngModel"
      name="mode"
      value={{mode}}
      type="hidden"
    /> 
    <input
      required
      ngModel
      #redirect="ngModel"
      name="redirect"
      value={{redirect}}
      type="hidden"
    />

      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #firstname="ngModel"
          name="firstname"
          pattern="[A-Za-z]+"
        />
        <span>First Name</span>
        <div
          *ngIf="!firstname.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
          First Name is required!
        </div>
        <div *ngIf="firstname?.errors?.pattern" class="invalid-tooltip">
          First Name should not be number.
        </div>
      </label>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #lastname="ngModel"
          name="lastname"
        />
        <span>Last Name</span>
        <div
          *ngIf="!lastname.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
          Last Name is required!
        </div>
        <div *ngIf="lastname?.errors?.pattern" class="invalid-tooltip">
          Last Name should not be number.
        </div>
      </label>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          email
          ngModel
          #email="ngModel"
          name="email"
        />
        <span>Email</span>
        <div
          *ngIf="!email.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
          Email is required!
        </div>
        <div
          *ngIf="email?.errors?.email && registerForm.submitted"
          class="invalid-tooltip"
        >
          Email must be a valid address!
        </div>
      </label>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #mobile="ngModel"
          name="mobile"
          pattern="[0-9]{10}"
        />
        <span>Mobile</span>
        <div
          *ngIf="!mobile.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
          Mobile is required!
        </div>
        <div *ngIf="mobile?.errors?.pattern" class="invalid-tooltip">
          Mobile should be 10 digits.
        </div>
      </label>
      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #company="ngModel"
          name="company"
        />
        <span>Company</span>
        <div
          *ngIf="!company.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
          Company is required!
        </div>
      </label>

      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #username="ngModel"
          name="username"
        />
        <span>Username</span>
        <div
          *ngIf="!username.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
          Username is required!
        </div>
      </label>

      <label class="form-group has-float-label">
        <input
          class="form-control"
          type="number"
          required
          ngModel
          #no_of_assets="ngModel"
          name="no_of_assets"
        />
        <span>Number of Assets</span>
        <div
          *ngIf="!no_of_assets.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
         Number of Assets required
        </div>
      
      </label>
      
      <label class="form-group has-float-label">
        <input
          class="form-control"
          type="number"
          required
          ngModel
          #no_of_subusers="ngModel"
          name="no_of_subusers"
        />
        <span>Number of Sub-users</span>
        <div
          *ngIf="!no_of_subusers.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
         Number of Sub-users required
        </div>
      
      </label>

           
      <label class="form-group has-float-label">
        <input
          class="form-control"
          type="number"
          required
          ngModel
          #expire_in_days="ngModel"
          name="expire_in_days"
        />
        <span>Validity in Days</span>
        <div
          *ngIf="!expire_in_days.valid && registerForm.submitted"
          class="invalid-tooltip"
        >
        Validity is required
        </div>
      
      </label>



      <div class="d-flex justify-content-between align-items-center">

        <app-state-button
          [btnClass]="'btn btn-primary btn-lg btn-shadow'"
          [currentState]="buttonState"
          
          click="onLoginClick()"
        >
        <!-- [isDisabled]="!registerForm.valid" -->
          {{ "user.register-button" | translate | uppercase }}
        </app-state-button>
      </div>
    </form>
  </div>
</div>
<simple-notifications></simple-notifications>
