<div class="card auth-card">
  <div class="position-relative image-side ">
    <p class=" text-white h2">Track your asset from anywhere</p>
    <p class="white mb-0">
     
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-single"></span>
    </a>
    <h6 class="mb-4">Login</h6>

    <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <label class="form-group has-float-label">
        <input class="form-control" required ngModel #username="ngModel" name="username" />
        <span>Username</span>
        <div *ngIf="!username.valid && loginForm.submitted" class="invalid-tooltip">Email is required!</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" type="password" placeholder="" required ngModel #password="ngModel" name="password" />
        <span>Password</span>
        <div *ngIf="!password.valid && loginForm.submitted" class="invalid-tooltip">Password is required!</div>
      </label>

      <label class="form-group has-float-label">
        <input
          class="form-control"
          required
          ngModel
          #company="ngModel"
          name="company"
        />
        <span>Company name</span>
        <div
          *ngIf="!company.valid && loginForm.submitted"
          class="invalid-tooltip"
        >
          Company name is required!
        </div>
      </label>


      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/forgot-password">{{ 'user.forgot-password' | translate }}?</a>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user.login-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>

  </div>
</div>
<simple-notifications></simple-notifications>
